name: test code

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
    - uses: actions/setup-node@v4
      with:
        node-version: 20
    - name: install
      run: npm i
    - name: test
      run: npm run test